<p id="notice"><%= notice %></p>

<div class="title border border-dark text-center">
  <h1>Colores</h1>
</div>
<div class="row">
  <% @colors.each_with_index do |color, index| 
    color = Color.new(color)%>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <%= link_to color_path(color.id) do %>
        <div class="item border border-dark">
          <div class="d-flex justify-content-start mb-3">
            <div class="p-2"><%= color.year %></div>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <div class="p-2">
              <div class="text-center"><%= color.name %></div>
              <div class="font-weight-bold text-center"><%= color.color %></div>
            </div>
          </div>
          <div class="d-flex justify-content-end mb-3">
            <div class="p-2 "><%= color.pantone %></div>
          </div>
        </div>
      <%end%>
    </div>
  <% end %>
</div>

<div class="title border border-dark text-center">
  <div class="d-flex justify-content-between row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 <%= @page['prev'].nil? ? 'invisible' : 'visible' %>">
      <%= link_to colors_path(page: @page['prev']) do %>
        < Anterior
      <%end %> 
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 font-weight-bold">
      Páginas <%= @page["current"] %> de <%= @page["total"] %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 font-weight-bold">
      Total de registros <%= @page["total_data"] %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 <%= @page['next'].nil? ? 'invisible' : 'visible' %>">
      <%= link_to colors_path(page: @page['next']) do %>
        Siguiente > 
      <% end %>
    </div>
  </div>
</div>

<%if current_user.profile == 2%>
  <div class="btn btn-light"><%= link_to 'Nuevo Color', new_color_path %></div>
<% end %>