<div id="notice"><%= notice %></div>

<div>
  <strong>Nombre:</strong>
  <%= @color.name %>
</div>
</br>

<div>
  <strong>Color:</strong>
  <%= @color.color %>
</div>
</br>

<div>
  <strong>Pantone:</strong>
  <%= @color.pantone %>
</div>
</br>

<div>
  <strong>Año:</strong>
  <%= @color.year %>
</div>
</br>

<%if current_user.profile == 2%>
	<div class="btn btn-primary"><%= link_to 'Editar', edit_color_path(@color.id) %></div>
	<div class="btn btn-primary"><%= link_to 'Eliminar', color_path(@color.id), method: :delete, data: { confirm: '¿Estás seguro?' } %></div>
<% end %>
<div class="btn btn-light"><%= link_to 'Volver', colors_path %></div>
